header {
	background: #000000;
	padding: 10px 0;
}

.caixa {
	width: 940px;
	position: relative;
	margin: 0 auto;
}

nav {
	position: absolute;
	top: 76px;
	right: 0;
}

nav li {
	display: inline;
	margin-left: 15px;
}

nav a {
	text-transform: uppercase;
	color: #FFFFFF;
	font-weight: bold;
	font-size: 18px;
	text-decoration: none;
	font-family: arial;
	letter-spacing: 3px;
	transition: 0.3s ease;
}

nav a:hover {
	color: #c2c2c2
}

.album-image {
	opacity: 0.8;
	transition: 0.5s ease;
	width: 250px;
	height: 250px;
}

.songs {
	width: 940px;
	margin: 0 auto;
	padding-top: 50px
}

.songs li {
	display: inline-block;
	text-align: center;
	width: 30%;
	vertical-align: top;
	margin: 0 1.5%;
	padding: 30px 15px;
	box-sizing: border-box;
}

.songs li:hover img {
	opacity: 1;
}

.songs li:hover h2 {
	opacity: 1;
}

.songs h2 {
	font-size: 16px;
	font-family: arial;
	text-transform: uppercase;
	margin-bottom: 8px;
	letter-spacing: 3px;
	color: #000000;
	opacity: 0.5;
	transition: 0.5s ease;
}

.song-quote {
	font-style: italic;
	margin: 10px 0;
	color: #7d7c7c;

}

.album-name {
	font-family: arial;
	text-transform: uppercase;
	font-weight: bold;
	font-size: 12px;
}

footer {
	text-align: center;
}

footer img {
	max-width: 150px;
	margin: 30px 0;
}

.copyright {
	background-color: #000000;
	color: #FFFFFF;
	font-family: arial;
	font-size: 12px;
	letter-spacing: 1px;
	padding: 15px 0px;
}

main {
	width: 940px;
	margin: 0 auto;
}

.membership-image {
	margin: 40px 0;
	border: 2px solid #000000;


}

form {
	margin: 40px 0;
	display: inline-block;
	vertical-align: top;
	width: 30%;
	margin-right: 10%;
	margin-left: 10%;
}

form label, form legend {
	display: block;
	font-family: arial;
	font-size: 14px;
	margin: 0 0 10px;
}

form legend {
	padding: 10px 0;
}

.input-classic {
	display: block;
	margin: 0 0 20px;
	padding: 6px 10px;
	width: 250px;
}

fieldset select {
	margin-bottom: 10px;
}

.checkbox {
	margin: 10px 0;
}

.submit {
	width: 50%;
	padding: 15px 10px;
	border: none;
	background-color: #c2c2c2;
	border-radius: 6px;
	text-align: center;
	transition: 0.5s ease;
  	cursor: pointer;
  	opacity: 0.8;
  	margin-top: 10px;
}

.submit:hover  {
  opacity: 1;
}